@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/dashboard" method="post">
        <input type="text" name="name">
        <label for="Name">Please give your name:</label>
        <input type="submit">
    </form>
</div>
