@{
ViewData["Title"] = "Home Page";
}
@model Survey
<div>
    <h1>Dojo Survey</h1>
    <form asp-action="Process" asp-controllers="Survey" method="post" class="form-control">
        <div class="form-floating">
            <input asp-for="Name" class="form-control" id="floatingInput" placeholder="Name" />
            <label asp-for="Name" for="floatingInput"></label>
            <span asp-validation-for="Name"></span>
        </div>
        <label asp-for="Location"></label>
        <select asp-for="Location">
            <option value="San Jose">San Jose</option>
            <option value="St. Louis">St. Louis</option>
        </select>
        <span asp-validation-for="Location"></span>
        <label asp-for="Language"></label>
        <select asp-for="Language">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
        </select>
        <span asp-validation-for="Language"></span>
        <div class="form-floating">
            <textarea asp-for="Comment" class="form-control" placeholder="Comments" id="floatingTextarea"
                style="height: 200px" ></textarea>
            <label asp-for="Comment" for="floatingTextarea">Comment (optional): </label>
                <span asp-validation-for="Comment"></span>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>