<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="process" method="post">
        <label>Your Name: </label>
        <input type="text" name="name"/>
        <label for="location">Dojo Location: </label>
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="St. Louis">St. Louis</option>
        </select>
        <label for="language">Favorite Language: </label>
        <select name="language">
            <option value="C#">C#</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
        </select>
        <label>Comment (optional): </label>
        <input type="text" name="comment"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>