@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-between">
        <div>
            @await Html.PartialAsync("_Login")
        </div>
        <div>
            @await Html.PartialAsync("_Register")
        </div>
    </div>
</div>
